- locals[:prototype].product_properties.each do |property|
  li
    = label_tag "product_property_#{property.id}", property.name
    = select_tag "properties[product_property_#{property.id}]", options_from_collection_for_select(property.product_property_values, "id", "value", (locals[:product].product_property_values.ids & property.product_property_values.ids).first), include_blank: true, class: "property_input"

    